<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLemsytfsB0aKMZSEGxU-aK91dB5DiF8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>70474053550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zakkimudhoffar.TravoilaNew</string>
	<key>PROJECT_ID</key>
	<string>travoilanew</string>
	<key>STORAGE_BUCKET</key>
	<string>travoilanew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70474053550:ios:2dc6ae71c38236b72d3a3f</string>
</dict>
</plist>